<html>
    <body>
        <h1>{{ bureau.nom }}</h1>
        <br><br>
        {{ form(formUpdt) }}

        <br><br>
        <li><a href="{{ path('index') }}"> Retour à l'accueil </a> </li>

    </body>
</html>