<html>

<body>

<h1> {{ titre }}    </h1>

<ul>
    {% for categorie in categories %}
       <br> <li><a href="{{ path('uncategorie',{id:categorie.id}) }}">{{ categorie.libelle }} </a></li>
    {% endfor %}

</ul>
<br>
<li><a href="{{ path('index') }}"> Retour à l'accueil </a> </li>
</body>


</html>