<h1> {{ categorie.libelle }}  </h1>

<ul>
    {% for salleresa in categorie.lesSallesResas %}
            <br><a href="{{ path('detailsalle',{id:salleresa.id}) }}"><li>{{ salleresa.nom }}</li></a>
    {% endfor %}
</ul>

    <ul>
        <br><br>
        <br><br>
    <li><a href="{{ path('index') }}"> Page d'accueil </a></li>

    </ul>
