<h1>{{ saller.nom }}</h1>


<li>Etage : {{ saller.situation }}</li>

<br>

    <li>Batiment : {{ saller.situation.batiment.nom }}</li>
<br>


<li>Categorie : {{ saller.categorie.libelle }}</li>

<br>

<br>
<br>
<br>
<br>
<br>
<br>
<li><a href="{{ path('index') }}"> Retour à l'accueil </a> </li>
