<html>


    <body>

    <h1> Ajout d'une nouvelle catégorie : </h1>

    <br>
    <br>

    {{ form_start(formCat)}}

    {{ form_end(formCat)}}

    <br>
    <br>

    <ul>

        <li><a href="{{ path('index') }}"> Page d'accueil </a></li>

    </ul>

    </body>

</html>
