<html>

    <body>

    <h1> Formulaire d'affectation d'une salle réservable à une catégorie  : </h1>

    <br>
    <br>

    {{ form_start(formSalleResa)}}

    {{ form_end(formSalleResa)}}

    <br>
    <br>

        <ul>

        <li><a href="{{ path('index') }}"> Page d'accueil </a></li>

        </ul>

    </body>

</html>