<html>
    <body>

    <h1> Modification du tarif d'une catégorie : </h1>

    <br>
    <br>

    {{ form_start(formTarif)}}

    {{ form_end(formTarif)}}

    <br>
    <br>

    <ul>

        <li><a href="{{ path('index') }}"> Page d'accueil </a></li>

    </ul>

    </body>

</html>

