<html>

    <body>

    <h1> Bienvenue sur la page d'accueil </h1>

        <div id="menu">
            <ul>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('recherche') }}"> Recherche </a> </li><br>
                    <li><a href="{{ path('ListeFormulaires') }}"> Formulaires <a/></li><br>
                    <li><a href="{{ path('listeBureauxDisponibles') }}"> liste des Bureaux disponibles</a></li><br>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('listeBureauxNonDisponibles') }}"> liste des Bureaux disponibles</a></li><br>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('salleresas') }}"> liste des Salle Reservables</a></li><br>
                {% endif %}
                {% if not is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('categories') }}"> Categories </a> </li><br>
                {% endif %}
        </ul>


    </body>
    {% if app.user is null %}
        Non connecté (<a href="{{ path('app_login') }}">Connexion</a>)
    {% else %}
        Connecté en tant que {{ app.user.prenom }} {{ app.user.nom }} (<a href="{{ path('app_logout') }}">Déconnexion</a>)
    {% endif %}

</html>
