<html>

    <body>

        <h1>{{ titre }}</h1>

        {% for bureau in bureaux %}
           <br> <li><a href="{{ path('attribuerBureau',{id:bureau.id}) }}">{{ bureau.nom }}</a></li>
        {% endfor %}

        </ul>
        <br>
        <li><a href="{{ path('index') }}"> Retour à l'accueil </a> </li>
    </body>
    </body>

</html>