<html>

    <body>

    <h1> Formulaires : </h1>

    <br>
    {% if is_granted('ROLE_ADMIN') %}
    <li><a href="{{ path('formResa') }}"> Formulaire d'affectation d'une salle réservable à une catégorie</a></li>
        <br>
        <li><a href="{{ path('formCat') }}"> Formulaire d'ajout de catégorie</a></li>
        <br>
        <li><a href="{{ path('formTarif') }}"> Formulaire de modification du tarif d'une catégorie</a></li>
        <br>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        <li><a href="{{ path('formMAJ') }}"> Formulaire de mise à jour de votre ligue</a></li>
    {% endif %}
    <br>
    <br>
    <br>

    </body>

    <ul>

        <li><a href="{{ path('index') }}"> Page d'accueil </a></li>

    </ul>



</html>

