<html>

<body>

<h1>{{ titre }}</h1>

{% for salleresa in salleresas %}
    <br><li>Salle {{ salleresa.id }}</li>
    <a href="{{ path('detailsalle',{id:salleresa.id}) }}">{{ salleresa.nom }}</a>
        {{ salleresa.reservation }}<br>
{% endfor %}


</ul>
<br>
<br>
<br>
<br>
<br>
<li><a href="{{ path('index') }}"> Retour à l'accueil </a> </li>
</body>
</body>

</html>
