<html>

<body>

<h1>Recherche</h1>
<br>
<li><a href="{{ path('recherchesallecat') }}"> Recherche Salle Par Categorie </a> </li>
<br>
<br>
<br>
<br>
<br>
<li><a href="{{ path('index') }}"> Retour à l'accueil </a> </li>